<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Ingreso de Proveedores</title>
    <link rel="stylesheet" type="text/css" href="../public/styles.css">
</head>
<body>
    <h1><a href="/">Bienvenidos a Cuadro</a></h1>
        <button type="button" class="clientes" ><a href="/clientes">Clientes</button>
        <button type="button" class="productos"><a href="/productos">Productos</button>
        <button type="button" class="proveedores"><a href="/proveedores">Proveedores</button>
</body>
</html>