<h1>Clientes</h1>

<form name="crearCliente" method="post" action="crear">
    <table>
      <tr>
        <td>Nombre del Cliente</td>
        <td>
          <input type="text" name="name"/>
        </td>
        <td>
          <input type="submit" value="Agregar Cliente" />
        </td>
      </tr>
    </table>
  </form>

<input type="button" method="post" id="mostrarClientes" onclick="mostrar()" value="Mostrar Clientes"> </input>
<br>
<tbody>

</tbody>

<script src="../functions/functions.js"></script>