<meta charset="UTF-8" />
<title>Cuadro</title>

<!-- CSS (load bootstrap from a CDN) -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css"
/>
<style>
  body {
    padding-top: 50px;
  }
</style>

<h1>Cuadro</h1>

<form action="" method="post">
  <form name="form1" method="POST" action="">
    <table>
      <tr>
        <td>Nombre del Cliente</td>
        <td><input type="text" name="name"/></td>

        <td colspan="2"><input type="submit" value="save" /></td>
      </tr>
    </table>
  </form>
</form>
