<meta charset="UTF-8" />
<title>Cuadro</title>

<!-- CSS (load bootstrap from a CDN) -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css"
/>
<style>
  body {
    padding-top: 50px;
  }
</style>

<h1>Cuadro</h1>
  <div>
    <a href="http://localhost:3000/proveedores" class="btn btn-primary">Proveedores</a>
    <a href="http://localhost:3000/clientes" class="btn btn-primary">Clientes</a>
    <a href="http://localhost:3000/productos" class="btn btn-primary">Productos</a>
    <a href="http://localhost:3000/ordenes-de-compra" class="btn btn-primary">Ordenes de compra</a>
  </div>


    
    


